<div [@routerTransition]>
    <app-page-header [heading]="'Dashboard'" [icon]="'fa-list-alt'"></app-page-header>
    <div class="col col-lg-12">
        <div class="card" *ngIf="isadmin">
            <div class="card-header">Available Users</div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-bordered table-striped" style="width:100%">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of users.result">
                            <td>{{user._id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="card" *ngIf="!isadmin">
            <div class="card-header">Your Products</div>
                <div class="card-body">
                    <table class="table table-hover table-bordered table-striped" style="width:100%">
                        <thead>
                        <tr>
                            <th>Drug Name</th>
                            <th>Description</th>
                            <th>Disease Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.drugName}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.disease}}</td>
                            <td><button class="btn rounded-btn">Transfer</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
